<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team Kumareshan's Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
      <h1>Welcome to Kumareshan's application</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
<um src="https://www.google.com/maps/d/embed?mid=1oiL03qNdHPUGjDtWSwkVxoGELwQ&hl=en&ehbc=2E312F" width="640" height="480"></um>
       <p>This is supposed to be a map!</p>
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>